site_name: RE&CT
site_dir: site/
docs_dir: docs/

theme:
    name: null
    custom_dir: 'docs/readthedocs/'
    navigation_depth: 4
    search_index_only: true
    titles_only: true

repo_url: https://github.com/atc-project/atc-react
edit_uri: blob/master/docs/
google_analytics: ['UA-165240552-2', 'https://atc-project.github.io/atc-react/']

plugins:
    - awesome-pages
    - exclude:
        glob:
            - "*DS_Store"
            - "*.git"
            - "*.idea"
nav:
    - Introduction:
        - ATC DATA (EN): index.md
        - ATC DATA (RU): index_RU.md
    - ATC DATA:
{%- if data_needed_list is not none and data_needed_list|length -%}
    {{'\n'}}        - Data Needed:
    {%- for data_needed_title, data_needed_path in data_needed_list -%}
        {{'\n'}}            - "{{data_needed_title}}": ./Data_Needed/{{data_needed_path}}.md
    {%- endfor -%}
{%- endif -%}
{%- if logging_policy_list is not none and logging_policy_list|length -%}
    {{'\n'}}        - Logging Policy:
    {%- for logging_policy_title, logging_policy_path in logging_policy_list -%}
        {{'\n'}}            - "{{logging_policy_title}}": ./Logging_Policy/{{logging_policy_path}}.md
    {%- endfor -%}
{%- endif -%}
{%- if enrichment_list is not none and enrichment_list|length -%}
    {{'\n'}}        - Enrichments:
    {%- for enrichment_title, enrichment_path in enrichment_list -%}
        {{'\n'}}            - "{{enrichment_title}}": ./Enrichments/{{enrichment_path}}.md
    {%- endfor -%}
{%- endif -%}